.footer {
  display: flex;
  flex-direction: column;
  margin-top: auto;
}
.footer__description {
  width: 360px;
  font-size: 18px;
  line-height: 26px;
  color: #2b292d;
  opacity: 0.6;
  margin-top: 26px;
}
.footer-lincs {
  width: 1140px;
  margin: auto;
}
.footer__line {
  margin: 0;
  width: 100%;
  border-top: 1px #2b292d solid;
  opacity: 0.1;
}
.footer-navigation {
  display: flex;
  height: 338px;
  margin: 0 auto;
  width: 1140px;
}

.about-company {
  margin-top: 48px;
}

.additional-navigation {
  margin-top: 60px;
  margin-left: auto;
  display: flex;
}
.additional-navigation__column {
  margin-right: 29px;
}

.nav-links {
  width: 265px;
}
.nav-links__title {
  font-weight: bold;
  font-size: 22px;
  line-height: 28px;
  color: #2b292d;
  margin: 0;
}
.nav-links__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  font-size: 18px;
  line-height: 30px;
  color: #2b292d;
  opacity: 0.6;
  margin-top: 18px;
}

.terms {
  line-height: 50px;
  font-size: 14px;
  font-weight: 400;
}
.terms__item {
  text-decoration: none;
  color: #2b292d;
  opacity: 0.6;
  margin-right: 22px;
}

.downloads {
  margin-top: 25px;
}
.downloads__image {
  margin-right: 10px;
}

.footer-links {
  display: flex;
  align-items: center;
  margin: 0 auto;
  width: 1140px;
}

.social-links {
  margin-left: auto;
}
.social-links__item {
  margin-left: 20px;
}
