.footer {
  display: flex;
  flex-direction: column;
  margin-top: auto;
}
.footer__description {
  display: none;
  width: 360px;
  font-size: 18px;
  line-height: 26px;
  color: #2b292d;
  opacity: 0.6;
  margin-top: 26px;
}

.footer-lincs {
  width: 1140px;
  margin: auto;
}
.footer__line {
  margin: 0;
  margin-top: 40px;
  width: 100%;
  border-top: 1px #2b292d solid;
  opacity: 0.1;
}
@media screen and (min-width: 400px) {
  .footer__line {
    margin: 0;
  }
}
.footer-navigation {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 400px) {
  .footer-navigation {
    display: flex;
    flex-direction: row;
    height: 338px;
    margin: 0 auto;
    width: 1140px;
  }
}
.about-company {
  margin-top: 48px;
}

.additional-navigation {
  display: flex;
  flex-direction: column;
  margin: 0 15px;
}
@media screen and (min-width: 400px) {
  .additional-navigation {
    margin-top: 60px;
    margin-left: auto;
    display: flex;
    flex-direction: row;
  }
}
.additional-navigation__column {
  margin-top: 30px;
}
@media screen and (min-width: 400px) {
  .additional-navigation__column {
    margin-right: 29px;
  }
}

.nav-links {
  width: 265px;
  margin-top: 30px;
}
.nav-links__title {
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  color: #2b292d;
  margin: 0;
}
@media screen and (min-width: 400px) {
  .nav-links__title {
    margin: 0;
  }
}
.nav-links__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  font-size: 18px;
  line-height: 30px;
  color: #2b292d;
  opacity: 0.6;
  margin-top: 18px;
}

.terms {
  line-height: 22px;
  font-size: 14px;
  margin-top: 30px;
  margin-bottom: 0;
}
@media screen and (min-width: 400px) {
  .terms {
    margin: 0;
    line-height: 50px;
  }
}

.terms__item {
  text-decoration: none;
  color: #2b292d;
  opacity: 0.6;
  margin-right: 22px;
}

.downloads {
  margin: 31px 15px 0 15px;
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 400px) {
  .downloads {
    justify-content: left;
    margin: 0;
    margin-top: 25px;
  }
}
.downloads__image {
  margin-right: 10px;
}

.footer-links {
  display: flex;
  flex-direction: column;
  margin: 0 15px 0 15px;
  width: 100%;
}
@media screen and (min-width: 400px) {
  .footer-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 auto;
    width: 1140px;
  }
}

.social-links {
  margin: 30px 0 23px 0;
}
@media screen and (min-width: 400px) {
  .social-links {
    margin: 0;
    margin-left: auto;
  }
}
.social-links__item {
  margin-left: 20px;
}
.social-links__item:first-child {
  margin-left: 0;
}
.logo__vertical {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.logo__vertical__image {
  width: 60px;
  height: 60px;
  margin: 40px;
  margin-bottom: 20px;
}
.logo__vertical__text {
}
.logo__vertical__name {
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
}
.logo__vertical__description {
  font-size: 18px;
  line-height: 25px;
  opacity: 0.6;
}
@media screen and (min-width: 400px) {
  .logo__vertical {
    display: none;
  }
  .footer__description {
    display: block;
  }
}
@media screen and (max-width: 399px) {
  .footer .logo {
    display: none;
  }
}
